body
{
    background-image: url(bgi-overview.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1
{
    color: rgb(0, 60, 255);
    text-align: center;
    margin-bottom:0px;
    padding:10px;
    font-weight: bold;
}

p
{
    color: rgb(196, 255, 211);
    font-weight: bold;
    font-size: large;
}

.navbar
{
    background-color: black;
    border-radius: 30px;
}

.navbar ul
{
    overflow: auto;
}

.navbar li
{
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a 
{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover
{
    color:red
}