



.block1 {
    width: 100%;
    height: 500px;
    background-color: red;
}

.block2 {
    width: 100%;
    height: 500px;
    background-color: black;
}

.block3 {
    width: 100%;
    height: 500px;
    background-color: blue;
}

.block4{
    padding:50px;
    width: 100%;
    height: 300px;

}



.g-block-1 {
    width: 45%;
    float: left;
}

.g-block-2 {
    width: 50%;
    float: right;
}

p
{
    color: black;
    font-weight: bold;
    font-size: large;
}

.navbar
{
    background-color: black;
    border-radius: 30px;
}

.navbar ul
{
    overflow: auto;
}

.navbar li
{
    float: left;
    list-style: none;
    margin: 13px 20px;
}

.navbar li a 
{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}

.navbar li a:hover
{
    color:red
}